footer.footer
  .footer__logo
    img(src='/img/logo-green.png' alt='Natour logo')
  ul.footer__nav
    li: a(href='#') درباره ما
    li: a(href='#') دانلود اپلیکیشن
    li: a(href='#') راهنما تور شوید
    li: a(href='#') فرصت‌های شغلی
    li: a(href='#') تماس با ما
